.alert {
    margin-bottom: 1px;
    height: 30px;
    line-height:30px;
    padding:0px 15px;
  }
.alertSize{
    text-align: center;
}
@media only screen and (min-width: 991px) {
    .alertSize{
        padding-left: 30%;
        padding-right: 30%;
    }      
}
